<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.darly.dlclent"
    android:versionCode="4"
    android:versionName="1.0.4" >

    <!-- vitamio视频开发 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- vitamio视频开发 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问internet权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 插件平台需要的权限! -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 友盟升级 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 融联云通讯进行添加 -->
    <permission
        android:name="com.yuntongxun.ecdemo.permission.RECEIVE_MSG"
        android:protectionLevel="signature" />
    <permission
        android:name="com.yuntongxun.ecdemo.permission.INCOMING_CALL"
        android:protectionLevel="signature" />
    // 接收 SDK 消息广播权限， 第三方 APP 接入时，请将 com.yuntongxun.ecdemo 替换为自己的包名
    <uses-permission android:name="com.yuntongxun.ecdemo.permission.RECEIVE_MSG" />
    // 如果没有VOIP功能可以忽略
    <uses-permission android:name="com.yuntongxun.ecdemo.permission.INCOMING_CALL" />

    <!-- 允许程序打开网络sockets(必选配置) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序访问有关的网络信息(必选配置) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问Wi-Fi网络状态信息(必选配置) -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许应用写（非读）用户的外部存储器(必选配置) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读取电话的状态(必选配置) -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许一个程序获取信息有关当前或最近运行的任务，一个缩略的任务状态，是否活动等等(必选配置) -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 允许程序录制音频(必选配置) -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 允许应用程序修改全局声音设置的权限 (必选配置) -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 允许使用PowerManager的WakeLocks保持进程在休眠时从屏幕消失(必选配置) -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 允许请求访问使用照相设备(如果使用视频通话则必选配置) -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 允许程序连接到已配对的蓝牙设备(非必选,由应用选择是否需要) -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- 允许程序发现和配对蓝牙设备(非必选,由应用选择是否需要) -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- GPS定位权限(非必选，由应用选择是否需要) -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 允许一个程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 允许一个程序访问精良位置(如GPS) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 允许程序读取用户联系人数据(非必选，由应用选择是否需要) -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 允许访问振动设备(非必选,由应用选择是否需要) -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 允许程序禁用键盘锁(非必选,由应用选择是否需要) -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 允许一个程序接收到 ACTION_BOOT_COMPLETED广播在系统完成启动 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- 推送相关的权限 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- QQ登录所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 使用相机 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <!-- 融联云通讯进行添加 -->
    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="18" />

    <application
        android:name="com.darly.dlclent.base.APP"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 欢迎页面 -->
        <uses-library android:name="android.test.runner" />
        <!-- com.darly.test.TestActivity -->
        <activity
            android:name="com.darly.dlclent.ui.welcome.Welcome"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 引导页面 -->
        <activity
            android:name="com.darly.dlclent.ui.welcome.GuideAnimActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 首页 -->
        <activity
            android:name="com.darly.dlclent.ui.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 登录页面 -->
        <activity
            android:name="com.darly.dlclent.ui.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 注册页面 -->
        <activity
            android:name="com.darly.dlclent.ui.login.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 设置密码页面 -->
        <activity
            android:name="com.darly.dlclent.ui.login.SetPassActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 修改用户信息页面 -->
        <activity
            android:name="com.darly.dlclent.ui.resetuserinfo.ResetInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 修改密码页面 -->
        <activity
            android:name="com.darly.dlclent.ui.resetuserinfo.ResetPasswordAcitvity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 用户地址列表页面 -->
        <activity
            android:name="com.darly.dlclent.ui.address.AddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 用户新增或编辑地址页面 -->
        <activity
            android:name="com.darly.dlclent.ui.address.NewAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 用户版本更新页面 -->
        <activity
            android:name="com.darly.dlclent.ui.VersionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 仿网易页面 -->
        <activity
            android:name="com.darly.dlclent.ui.comment.CommentWithFloorActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 商品详情页面 -->
        <activity
            android:name="com.darly.dlclent.ui.detail.GoodsDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 收藏夹页面 -->
        <activity
            android:name="com.darly.dlclent.ui.collect.CollectActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 礼品卡页面 -->
        <activity
            android:name="com.darly.dlclent.ui.collect.CardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 手机验证页面 -->
        <activity
            android:name="com.darly.dlclent.ui.verify.VerifyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 手机验证完成页面 -->
        <activity
            android:name="com.darly.dlclent.ui.verify.VerifyPhonoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 视频列表页面 -->
        <activity
            android:name="com.darly.dlclent.ui.video.VideoListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 视频播放页面 -->
        <activity
            android:name="com.darly.dlclent.ui.video.VideoShowActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- 天气情况页面 -->
        <activity
            android:name="com.darly.dlclent.ui.video.WeahterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- 用户订单页面 -->
        <activity
            android:name="com.darly.dlclent.ui.order.MyOrderActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- 不同样式加载页面 -->
        <activity
            android:name="com.darly.dlclent.ui.sweetalert.SweetAlertActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 第一个小游戏页面 -->
        <activity
            android:name="com.darly.dlclent.ui.games.cards.GameCardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- 第二个小游戏页面 -->
        <activity
            android:name="com.darly.dlclent.ui.games.snake.Snake"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- 计步器页面 -->
        <service android:name="com.darly.dlclent.ui.pedometer.StepService" >
        </service>

        <activity
            android:name="com.darly.dlclent.ui.pedometer.PedometerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- 网页WebView页面 -->
        <activity
            android:name="com.darly.dlclent.ui.web.WebViewActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- vitamio视频开发框架 -->
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- Bluetooth pager -->
        <activity
            android:name="com.darly.dlclent.ui.bluetooth.BluetoothChat"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.darly.dlclent.ui.bluetooth.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.Holo.Dialog" >
        </activity>

        <!-- 百度账号 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="MzfTXxTwEsjui8n2EHmSCq57" />

        <service android:name="com.darly.dlclent.service.UpdateService" >
        </service>
        <!-- 友盟升级 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="569eed75e0f55aa638000896" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Darly" />

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:configChanges="orientation|keyboardHidden"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.darly.dlclent.ui.games.pike.PinkerAcitvity"
            android:configChanges="orientation|keyboardHidden" >
        </activity>

        <!-- 分享 -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 融联云通讯 主类 -->
        <activity
            android:name="com.darly.im.ui.LauncherActivity"
            android:label="@string/login_title_activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <!-- 登陆界面 -->
        <activity
            android:name="com.darly.im.ui.account.LoginActivity"
            android:label="@string/login_title_activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.darly.im.ui.account.ECSetUpServerActivity"
            android:label="@string/login_title_activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <!-- 会话消息聊天主界面 -->
        <activity
            android:name="com.darly.im.ui.chatting.ChattingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 联系人详情选项卡 -->
        <activity
            android:name="com.darly.im.ui.contact.ContactDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!-- 手机系统联系人 -->
        <activity
            android:name="com.darly.im.ui.contact.MobileContactActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!-- 发送预览图片 -->
        <activity
            android:name="com.darly.im.ui.chatting.ImagePreviewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:process=":tools"
            android:screenOrientation="portrait"
            android:theme="@style/CCPTheme.Holo.Transparent" />
        <activity
            android:name="com.darly.im.ui.chatting.VideoRecordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/CCPTheme.Holo.Transparent" />
        <!-- 查看聊天图片 -->
        <activity
            android:name="com.darly.im.ui.chatting.ImageGalleryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/CCPTheme.Holo.Transparent"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.darly.im.ui.chatting.ImageGralleryPagerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!-- 文件浏览器 -->
        <activity
            android:name="com.darly.im.ui.plugin.FileExplorerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <!-- 群组 -->
        <activity
            android:name="com.darly.im.ui.group.CreateGroupActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <!-- 联系人选择 -->
        <activity
            android:name="com.darly.im.ui.contact.ContactSelectListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!-- 手机联系人选择 -->
        <activity
            android:name="com.darly.im.ui.contact.MobileContactSelectActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!-- 设置页面 -->
        <activity
            android:name="com.darly.im.ui.settings.SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.darly.im.ui.group.ECDiscussionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.darly.im.ui.contact.GroupCardSelectUI"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.darly.im.ui.group.GroupInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!-- 群组搜索 -->
        <activity
            android:name="com.darly.im.ui.group.SearchGroupActivity"
            android:label="@string/title_activity_search_group"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.darly.im.ui.group.BaseSearch"
            android:label="@string/title_activity_search_group"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.darly.im.ui.settings.EditConfigureActivity"
            android:label="@string/title_activity_edit_configure"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.darly.im.ui.group.GroupMemberCardActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 申请加入群组 -->
        <activity
            android:name="com.darly.im.ui.group.ApplyWithGroupPermissionActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.darly.im.ui.group.GroupNoticeActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.darly.im.ui.settings.LoginSettingActivity"
            android:label="@string/title_activity_login_setting"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.darly.im.ui.settings.SettingPersionInfoActivity"
            android:label="@string/title_activity_setting_persion_info"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.darly.im.ui.contact.AtSomeoneUI"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.darly.im.ui.LocationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.darly.im.ui.ShowBaiDuMapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- *****************************ECSDK核心服务类 （必须配置）Start******************************************** -->
        // SDK核心服务配置(必选配置)
        <service
            android:name="com.yuntongxun.ecsdk.ECClientService"
            android:enabled="true"
            android:process=":push" />
        // 以下两项为SDK事件提醒广播(必选配置)
        <receiver
            android:name="com.yuntongxun.ecsdk.booter.CCPReceivers$AlarmReceiver"
            android:process=":push" />
        // v5.1.9r增加配置选项(必选配置)
        <receiver
            android:name="com.yuntongxun.ecsdk.booter.Alarm"
            android:exported="false"
            android:process=":push" />
        // SDK网络改变广播(必选配置)
        <receiver
            android:name="com.yuntongxun.ecsdk.booter.CCPReceivers$ConnectionReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        // SDK广播通知配置（开机广播）
        // 可选广播、如果应用想做开机重启，可以实现该广播通知即可
        <receiver
            android:name="com.yuntongxun.ecsdk.booter.CCPReceivers$BootReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        // 	配置SDK消息通知广播 ,SDK通知会分三种提醒方式
        //  1、直接通过设置的回调接口（OnChatReceiveListener）Push给应用
        //  2、如果应用没有设置回调接口则采用（BroadcastReceiver）广播通知（v5.1.8版本）此时如果应用处于未运行状态则会直接唤醒应用处理
        //  3、如果应用未处于运行状态并且不想被唤醒应用运行则采用状态栏通知处理（SDK直接提醒，不会通知应用）,比如调用
        //  ECDevice#logout(ECDevice.NotifyMode, ECDevice.OnLogoutListener)退出接口传入后台接收消息才会有提醒

        //  注意：以上在a和b的场景下，SDK都会将消息直接给应用处理，只有在c的情况SDK才会直接处理消息提醒，所以应用需要处理a和b两种情况
        // 声明自定义通知的广播接收器，第三方 APP 集成时，action 中的 com.yuntongxun.ecdemo 请替换为自己的包名 -->
        <!-- 需要权限声明 <uses-permission android:name="com.yuntongxun.ecdemo.permission.RECEIVE_MSG"/> -->
        // 如果没有VOIP功能可以忽略
        <!-- 需要权限声明 <uses-permission android:name="com.yuntongxun.ecdemo.permission.INCOMING_CALL"/> -->
        <receiver
            android:name=".service.YuntxNotifyReceiver"
            android:exported="false" >
            <intent-filter>
                // 接收push消息
                // action匹配规则{packageName + ".action" + "功能"}
                <action android:name="com.yuntongxun.ecdemo.action.VOIP_CALL" />
                <action android:name="com.yuntongxun.ecdemo.action.MESSAGE" />
                <action android:name="com.yuntongxun.ecdemo.action.NOTIFICATION_CLICK" />
                <action android:name="com.yuntongxun.ecdemo.action.PERSON_VERSION" />
                // 这个配置是容联IM专有的配置，其他应用集成的时候可以忽略
                <action android:name="com.yuntongxun.ecdemo.action.SOFT_UPDATER" />
            </intent-filter>
        </receiver>
        // *****************************ECSDK核心服务类 End*******************************************
        // 应用处理程序逻辑服务
        <service android:name=".service.YuntxNotifyReceiver$NotifyService" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <!-- 友盟微社区 -->
        <!-- 微博版activity组件 start -->

        <activity
            android:name="com.umeng.commm.ui.activities.FindActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.umeng.comm.ui.activities.FindActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 用户中心 -->
        <activity
            android:name="com.umeng.commm.ui.activities.UserInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.umeng.comm.ui.activities.UserInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.umeng.commm.ui.activities.TopicActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 话题详情页 -->
        <activity
            android:name="com.umeng.commm.ui.activities.TopicDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.umeng.comm.ui.activities.TopicDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 话题 -->
        <activity
            android:name="com.umeng.commm.ui.activities.FeedsActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.umeng.comm.ui.activities.FeedsActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 搜索结果Activity -->
        <activity
            android:name="com.umeng.commm.ui.activities.RelativeUserActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.umeng.comm.ui.activities.RelativeUserActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 发表 -->
        <activity
            android:name="com.umeng.commm.ui.activities.PostFeedActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity
            android:name="com.umeng.comm.ui.activities.PostFeedActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <!-- topic picker -->
        <activity
            android:name="com.umeng.comm.ui.activities.TopicPickActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- forward -->
        <activity
            android:name="com.umeng.commm.ui.activities.ForwardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.umeng.comm.ui.activities.ForwardActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 搜索Activity -->
        <activity
            android:name="com.umeng.commm.ui.activities.SearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.umeng.comm.ui.activities.SearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- searchtopic -->
        <activity
            android:name="com.umeng.commm.ui.activities.SearchTopicActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name="com.umeng.comm.ui.activities.SearchTopicActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <!-- feed详情页面 -->
        <activity
            android:name="com.umeng.commm.ui.activities.FeedDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.umeng.comm.ui.activities.FeedDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- guide -->
        <activity
            android:name="com.umeng.commm.ui.activities.GuideActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.umeng.comm.ui.activities.GuideActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- feed详情页面 -->
        <!-- 设置页面activity -->
        <activity android:name="com.umeng.comm.ui.imagepicker.activities.SettingActivity" />
        <!-- <activity android:name="com.umeng.comm.ui.activities.SettingActivity" /> -->
        <!-- 引导页面activity -->


        <!-- <activity android:name="com.umeng.comm.ui.activities.GuideBaseActivity" /> -->
        <!-- 点赞用户页面 -->
        <activity android:name="com.umeng.commm.ui.activities.LikeUsersActivity" />
        <activity android:name="com.umeng.comm.ui.activities.LikeUsersActivity" />
        <!-- 友盟登录界面 -->
        <activity android:name="com.umeng.community.login.LoginActivity" />

        <!-- 显示某个位置Feed的Activity -->
        <activity android:name="com.umeng.commm.ui.activities.LocationFeedActivity" />
        <activity android:name="com.umeng.comm.ui.activities.LocationFeedActivity" />
        <!-- ##################分享相关#################### -->
        <!-- 腾讯SSO授权的Activity注册 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1104606393" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 微信回调activity -->
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <service
            android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false" >
        </service>

        <activity android:name="com.umeng.common.ui.activities.AlbumActivity" />
        <activity android:name="com.umeng.commm.ui.activities.FollowedTopicActivity" />
        <activity android:name="com.umeng.comm.ui.activities.FollowedTopicActivity" />
        <activity android:name="com.umeng.commm.ui.activities.NotificationActivity" />
        <activity android:name="com.umeng.comm.ui.activities.NotificationActivity" />
        <activity android:name="com.umeng.commm.ui.activities.NewMsgActivity" />
        <activity android:name="com.umeng.comm.ui.activities.NewMsgActivity" />

        <!-- 图片选择相关 -->

        <activity android:name="com.umeng.common.ui.imagepicker.PhotoSelectorActivity" />
        <activity android:name="com.umeng.common.ui.imagepicker.PhotoPreviewActivity" />
        <activity android:name="com.umeng.common.ui.activities.MessageChatActivity" />
        <!-- 高德定位作用的APIKEY -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="557e18d1afb32a69351be5abc7f1cd25" />

        <activity
            android:name="com.umeng.common.ui.activities.BrowserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <!-- ##################### 推送相关 ##################### -->
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" >
        </receiver>
        <receiver
            android:name="com.umeng.message.SystemReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.MessageReceiver"
            android:exported="false"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.ElectionReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_RESULT_V4" />

                <category android:name="umeng" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.umeng.message.RegistrationReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.umeng.community.example.intent.action.COMMAND" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.UmengMessageBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.umeng.message.UmengService"
            android:exported="true"
            android:label="PushService"
            android:process=":push" >
            <intent-filter>
                <action android:name="com.umeng.community.example.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.community.example.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4" />

                <category android:name="umeng" />
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengIntentService"
            android:process=":push" />
        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:exported="true"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.android.agoo.client.ElectionReceiverService" />
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengMessageCallbackHandlerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.unregistercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.autoupdate.handler.action" />
            </intent-filter>
        </service>
        <!-- If you donot want to use the standard notification bar in SDK, you can define IntentService instead to handle message. -->
        <service
            android:name="com.umeng.message.UmengDownloadResourceService"
            android:exported="false" />
        <service
            android:name="com.umeng.message.local.UmengLocalNotificationService"
            android:exported="false" />
    </application>

</manifest>