<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.darly.dlclent"
    android:versionCode="2"
    android:versionName="1.0.2" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问internet权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 插件平台需要的权限! -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 友盟升级 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="18" />

    <application
        android:name="com.darly.dlclent.base.APP"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 欢迎页面 -->
        <activity
            android:name="com.darly.dlclent.ui.welcome.Welcome"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 引导页面 -->
        <activity
            android:name="com.darly.dlclent.ui.welcome.GuideAnimActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 首页 -->
        <activity
            android:name="com.darly.dlclent.ui.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 登录页面 -->
        <activity
            android:name="com.darly.dlclent.ui.login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 注册页面 -->
        <activity
            android:name="com.darly.dlclent.ui.login.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 设置密码页面 -->
        <activity
            android:name="com.darly.dlclent.ui.login.SetPassActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 修改用户信息页面 -->
        <activity
            android:name="com.darly.dlclent.ui.resetuserinfo.ResetInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 修改密码页面 -->
        <activity
            android:name="com.darly.dlclent.ui.resetuserinfo.ResetPasswordAcitvity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 用户地址列表页面 -->
        <activity
            android:name="com.darly.dlclent.ui.address.AddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 用户新增或编辑地址页面 -->
        <activity
            android:name="com.darly.dlclent.ui.address.NewAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 用户版本更新页面 -->
        <activity
            android:name="com.darly.dlclent.ui.VersionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 仿网易页面 -->
        <activity
            android:name="com.darly.dlclent.ui.comment.CommentWithFloorActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 商品详情页面 -->
        <activity
            android:name="com.darly.dlclent.ui.detail.GoodsDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 收藏夹页面 -->
        <activity
            android:name="com.darly.dlclent.ui.collect.CollectActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 礼品卡页面 -->
        <activity
            android:name="com.darly.dlclent.ui.collect.CardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <service android:name="com.darly.dlclent.service.UpdateService" >
        </service>
        <!-- 友盟升级 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="569eed75e0f55aa638000896" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Default" />

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
    </application>

</manifest>