<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>DLService</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>用户登录</description>
    <display-name>api/login</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.dl.service.let.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/api/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>用户首页</description>
    <display-name>api/home</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.dl.service.let.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/api/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>用户地址</description>
    <display-name>api/address</display-name>
    <servlet-name>UserAddress</servlet-name>
    <servlet-class>com.dl.service.let.UserAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAddress</servlet-name>
    <url-pattern>/api/address</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>用户注册</description>
    <display-name>api/register</display-name>
    <servlet-name>UserRegest</servlet-name>
    <servlet-class>com.dl.service.let.UserRegest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegest</servlet-name>
    <url-pattern>/api/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>商品详情</description>
    <display-name>api/details</display-name>
    <servlet-name>GoodsDetails</servlet-name>
    <servlet-class>com.dl.service.let.GoodsDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoodsDetails</servlet-name>
    <url-pattern>/api/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>修改用户信息</description>
    <display-name>api/userinfo</display-name>
    <servlet-name>ResetInfoServlet</servlet-name>
    <servlet-class>com.dl.service.let.ResetInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetInfoServlet</servlet-name>
    <url-pattern>/api/userinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>活動主題页面接口</description>
    <display-name>api/act</display-name>
    <servlet-name>ActThemeServlet</servlet-name>
    <servlet-class>com.dl.service.let.ActThemeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActThemeServlet</servlet-name>
    <url-pattern>/api/act</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>用户朋友接口</description>
    <display-name>api/friend</display-name>
    <servlet-name>UserFriendly</servlet-name>
    <servlet-class>com.dl.service.let.conversion.UserFriendly</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserFriendly</servlet-name>
    <url-pattern>/api/friend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>用户会话接口</description>
    <display-name>api/getuser</display-name>
    <servlet-name>UserConvertion</servlet-name>
    <servlet-class>com.dl.service.let.conversion.UserConvertion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserConvertion</servlet-name>
    <url-pattern>/api/getuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>搜索用戶接口</description>
    <display-name>api/searchuser</display-name>
    <servlet-name>SearchUsers</servlet-name>
    <servlet-class>com.dl.service.let.conversion.SearchUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchUsers</servlet-name>
    <url-pattern>/api/searchuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>添加朋友接口</description>
    <display-name>api/addfriend</display-name>
    <servlet-name>FriendRegistration</servlet-name>
    <servlet-class>com.dl.service.let.conversion.FriendRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendRegistration</servlet-name>
    <url-pattern>/api/addfriend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>用户图标进行替换，上传服务器图片接口</description>
    <display-name>api/upimage</display-name>
    <servlet-name>UserIconChange</servlet-name>
    <servlet-class>com.dl.service.let.UserIconChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserIconChange</servlet-name>
    <url-pattern>/api/upimage</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description>用户是否在线接口</description>
    <display-name>api/online</display-name>
    <servlet-name>UserOnline</servlet-name>
    <servlet-class>com.dl.service.let.UserOnline</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserOnline</servlet-name>
    <url-pattern>/api/online</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>跳转网页页面接口</description>
    <display-name>userweb</display-name>
    <servlet-name>UserWebServlet</servlet-name>
    <servlet-class>com.dl.service.let.UserWebServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserWebServlet</servlet-name>
    <url-pattern>/userweb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>跳转JSP页面接口</description>
    <display-name>webjsp</display-name>
    <servlet-name>WebShowInfo</servlet-name>
    <servlet-class>com.dl.service.let.WebShowInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebShowInfo</servlet-name>
    <url-pattern>/webjsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>服务端网页首页Servlet</description>
    <display-name>showindex</display-name>
    <servlet-name>IndexLet</servlet-name>
    <servlet-class>com.dl.service.option.IndexLet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexLet</servlet-name>
    <url-pattern>/showindex</url-pattern>
  </servlet-mapping>
</web-app>