<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.dao.Action_ThemeMapper">
	<resultMap id="BaseResultMap" type="cn.com.bean.Action_Theme">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="imagePath" property="imagepath" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, description, imagePath
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from user_action_theme
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectAll" resultMap="BaseResultMap" parameterType="cn.com.bean.Action_Theme">
		select * from user_action_theme
	</select>
	<select id="selectPage" resultMap="BaseResultMap" parameterType="cn.com.bean.Action_Theme">
		select * from user_action_theme limit #{0},#{1}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		user_action_theme
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="cn.com.bean.Action_Theme">
		insert into user_action_theme
		(id, description, imagePath
		)
		values (#{id,jdbcType=INTEGER},
		#{description,jdbcType=VARCHAR},
		#{imagepath,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="cn.com.bean.Action_Theme">
		insert into user_action_theme
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="imagepath != null">
				imagePath,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="imagepath != null">
				#{imagepath,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.com.bean.Action_Theme">
		update user_action_theme
		<set>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="imagepath != null">
				imagePath = #{imagepath,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.com.bean.Action_Theme">
		update
		user_action_theme
		set description = #{description,jdbcType=VARCHAR},
		imagePath = #{imagepath,jdbcType=VARCHAR}
		where id =
		#{id,jdbcType=INTEGER}
	</update>
</mapper>