<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.dao.ClientThemeMapper">
	<resultMap id="BaseResultMap" type="cn.com.bean.ClientTheme">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="theme" property="theme" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, url, title, theme
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from client_theme
		where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="selectAll" resultMap="BaseResultMap" parameterType="cn.com.bean.ClientTheme">
		select * from client_theme
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from client_theme
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="cn.com.bean.ClientTheme">
		insert into client_theme (id, name, url,
		title, theme)
		values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{url,jdbcType=VARCHAR},
		#{title,jdbcType=VARCHAR}, #{theme,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="cn.com.bean.ClientTheme">
		insert into client_theme
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="url != null">
				url,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="theme != null">
				theme,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				#{url,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				#{title,jdbcType=VARCHAR},
			</if>
			<if test="theme != null">
				#{theme,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.com.bean.ClientTheme">
		update client_theme
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				url = #{url,jdbcType=VARCHAR},
			</if>
			<if test="title != null">
				title = #{title,jdbcType=VARCHAR},
			</if>
			<if test="theme != null">
				theme = #{theme,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.com.bean.ClientTheme">
		update client_theme
		set name = #{name,jdbcType=VARCHAR},
		url = #{url,jdbcType=VARCHAR},
		title = #{title,jdbcType=VARCHAR},
		theme = #{theme,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>