<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.dao.UserAddressMapper">
	<resultMap id="BaseResultMap" type="cn.com.bean.UserAddress">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="tel" property="tel" jdbcType="VARCHAR" />
		<result column="province" property="province" jdbcType="VARCHAR" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="district" property="district" jdbcType="VARCHAR" />
		<result column="zipcode" property="zipcode" jdbcType="VARCHAR" />
		<result column="usertel" property="usertel" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, tel, province, city, district, zipcode, usertel
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from user_table_address
		where id = #{id,jdbcType=INTEGER}
	</select>

	<select id="selectUserAddress" resultMap="BaseResultMap"
		parameterType="cn.com.bean.UserAddress">
		select
		<include refid="Base_Column_List" />
		from user_table_address
		where usertel = #{tel,jdbcType=INTEGER}
	</select>

	<select id="selectAll" resultMap="BaseResultMap" parameterType="cn.com.bean.UserAddress">
		select
		<include refid="Base_Column_List" />
		from user_table_address
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		user_table_address
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="cn.com.bean.UserAddress">
		insert into user_table_address
		(id, name, tel,
		province, city, district,
		zipcode, usertel)
		values
		(#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{tel,jdbcType=VARCHAR},
		#{province,jdbcType=VARCHAR},
		#{city,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR},
		#{zipcode,jdbcType=VARCHAR}, #{usertel,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="cn.com.bean.UserAddress">
		insert into user_table_address
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="tel != null">
				tel,
			</if>
			<if test="province != null">
				province,
			</if>
			<if test="city != null">
				city,
			</if>
			<if test="district != null">
				district,
			</if>
			<if test="zipcode != null">
				zipcode,
			</if>
			<if test="usertel != null">
				usertel,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="tel != null">
				#{tel,jdbcType=VARCHAR},
			</if>
			<if test="province != null">
				#{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				#{city,jdbcType=VARCHAR},
			</if>
			<if test="district != null">
				#{district,jdbcType=VARCHAR},
			</if>
			<if test="zipcode != null">
				#{zipcode,jdbcType=VARCHAR},
			</if>
			<if test="usertel != null">
				#{usertel,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="cn.com.bean.UserAddress">
		update user_table_address
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="tel != null">
				tel = #{tel,jdbcType=VARCHAR},
			</if>
			<if test="province != null">
				province = #{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				city = #{city,jdbcType=VARCHAR},
			</if>
			<if test="district != null">
				district = #{district,jdbcType=VARCHAR},
			</if>
			<if test="zipcode != null">
				zipcode = #{zipcode,jdbcType=VARCHAR},
			</if>
			<if test="usertel != null">
				usertel = #{usertel,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="cn.com.bean.UserAddress">
		update
		user_table_address
		set name = #{name,jdbcType=VARCHAR},
		tel =
		#{tel,jdbcType=VARCHAR},
		province = #{province,jdbcType=VARCHAR},
		city =
		#{city,jdbcType=VARCHAR},
		district = #{district,jdbcType=VARCHAR},
		zipcode = #{zipcode,jdbcType=VARCHAR},
		usertel =
		#{usertel,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>